body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    border: 10px solid green; 
}


.logo{
    background-color: #000000;
    margin:10px;
}
.music-player-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.album-cover {
    width: 300px !important;
    height: 300px !important; 
    padding-left: 5%;
    margin-bottom: 160px;
}
.album-cover:hover {
    transform: scale(0.9);
    transition: transform 0.3s ease;
}
.music-controls {
    position: relative;
}

.playback-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.playback-controls button {
    background: #000;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    margin: 0 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: transform 0.2s ease-in-out;
}

.playback-controls button:hover {
    color: #17d35c;
}

.song-title a {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
.playback-controls #prev,
.playback-controls #play-pause-icon,
.playback-controls #next {
    position: relative; 
}

.song-title a:hover {
    transform: scale(1.3);
}

.spotify-logo {
    width: 170px;
    margin-left: 50px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    margin-right: 20px;
}

.spotify-logo:hover {
    transform: scale(1.4); 
}

.music-details {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

.album-cover {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.song-info {
    display: flex;
    flex-direction: column;
}

.song-title, .artist-name {
    margin: 5px 0;
}

.time-progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69%;
    margin-left: 200px;
    margin-top: -50px; 
}

#current-time, #total-duration {
    margin: 0 10px;
}

input[type="range"] {
    width: 300px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
    margin: 0 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.icon-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #17d35c;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    background: #333;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

input[type="range"]:hover {
    opacity: 1; 
}

.time-control {
    margin: 0 15px;
    color: #000000; 
}

.playbar {
    padding-bottom: 20px; 
}

.recommendations {
    background-color: #000;
    color: green;
    padding: 20px;
    overflow-y: auto; 
    position: absolute;
    left: 1000px; 
    top: 30%; 
    /* bottom: 90px !important; */
    width: 200px;
    text-align: center; 
}

.recommendations h3 {
    margin-bottom: 10px;
}

.recommendations ul {
    list-style: none;
    padding: 0;
}

.recommendations li a {
    color: white;
    text-decoration: none; 
    display: block;
    padding: 5px 0;
    transition: transform 0.3s ease; 
}

.recommendations li a:hover {
    color: #17d35c;
    text-decoration: none; 
    transform: scale(1.1); 
}

.main-content {
    padding-bottom: 70px;
}