body, html {
    border: 10px solid green;
    height: 100%; /* Ensures that the HTML and body take up the full viewport height */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
}

.logo {
    background-color: #000000;
    margin: 10px;
    padding-left: 40px;
    margin-top: 40px;
}

.music-player-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.music-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
    margin-top: 20px;
}

.album-cover {
    width: 300px;
    height: 300px;
    margin-left: 5%;
    transition: transform 0.3s ease;
}

.album-cover:hover {
    transform: scale(1.1);
}

.music-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 200px;
    background-color: #000000;
    padding: 20px 0;
}

.playback-controls {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 260px;
    align-items: center;
}

.playback-controls button {
    background: #222222;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
}

.song-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.song-title, .artist-name {
    margin: 5px 0;
}

.time-progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 20px auto;
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    background: #666666;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

input[type="range"]:hover {
    opacity: 1;
}

.spotify-logo {
    width: 170px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.spotify-logo:hover {
    transform: scale(1.1);
}

.recommendations {
    background-color: black;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    width: 15%;
    overflow-y: auto;
    max-height: 300px;
    border-radius: 8px;
    text-align: center;
}

.recommendations h3 {
    color: #17d35c;
    margin-bottom: 10px;
}

.recommendations ul {
    list-style: none;
    padding: 0;
}

.recommendations li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.recommendations li a:hover {
    color: #17d35c;
    transform: scale(1.05);
}